body{
    background-color: rgb(99, 248, 0);
    font-family: 'Nunito', sans-serif;
}
.backgrnd
{
    background-color: rgb(18, 153, 41);
}
.navbar-dark
{
    color: rgb(185, 221, 223);
}
#mainn .navbar-brand
{
    color: rgb(10, 255, 255);
    font-size: 2rem;
}
#mainn
{
border-radius: 12px;
    width: 600px;
    font-size: 2rem;;
}
#mainn .nav-link
{
    color:whitesmoke;
}
#mainn .nav-link:hover
{
    color: rgb(10, 255, 255);
}
.container-fluid
{
    margin-top: 80px;
    padding: 0%;
}
span
{
    color: azure;
}
#text h2
{
    font-size: 47px;
    font-weight: 200;

}
@media (max-width:1200px)
{

    #text h2
    {
        font-size: 40px;
        font-weight: 100;
       
    }



}
#texting h2
{
    font-size: 40px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#texting p{
    line-height: 40px;
    word-spacing: 3px;
    font-size: 25px;;
}
